.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "greeting_1 greeting_1 greeting_2 greeting_2"
    "main main main main"
    "phonenumber phonenumber phonenumber phonenumber"
    "extra extra extra extra"
    "location location location location"
    "footer footer footer footer"
}