.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr 2fr 2fr 1fr 4fr;
    grid-template-areas:
        "first first first first first first"
        "second_one second_one second_one second_two second_two second_two"
        "third_one third_one third_two third_two third_three third_three"
        "fourth_one fourth_two fourth_two fourth_three fourth_three fourth_four";
}
 
.first {
    grid-area: first;
}
 
.second_one {
    grid-area: second_one;
}